h1,
h2,
h3,
h4,
p,
a,
tr,
td,
label {
    color: white;
}

body {
    background-color: #aadeff !important;
}

.navbar {
    background-color: #89d2ff !important;
}

#sidebarMenu {
    background-color: #89d2ff !important;
}

.modal-title {
    color: black !important;
}

.modal-body p {
    color: black !important;
}

.breadcrumb {
    background: none !important;
}

.card {
    margin-top: 25px;
}

.card-body label {
    color: #424242f1 !important;
}